nid	filepath
494	sites/default/files/2016 spring compare 2015.xlsx
494	sites/default/files/GoogleAnalyticsreport 2016 Spring.docx
498	sites/default/files/cgiforms.html
498	sites/default/files/dircount-20100203.txt
498	sites/default/files/dircount-20100412_0.txt